<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
    <!-- <link rel="stylesheet" href="../assets/syntax-highlight.css"> -->

</head>
<body>
    <article class="markdown-body">
        {{ content }}
    </article>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll("pre code:not([data-highlighted])").forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>
</body>
</html>
